.container {
  object-fit: cover;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.character {
  cursor: pointer;
}

.character:hover {
  transform: scale(1);
}
